{{!-- Post card template --}}
<div class="card m-1 border border-0">
    <div class="card-body border border-dark rounded p-0 m-3">
        <div class="d-flex flex-row justify-content-between card-header m-0 p-2">
            <h3><a href='/post/{{id}}'>{{title}}</a></h3>
            <p>By: {{username}} on {{format_date creation_date}}</p>
        </div>
        <div class="card-contents m-1">
            <p>{{contents}}</p>
        </div>
    </div>
</div>

