{{!-- Post card template --}}
<div class="card m-1">
    <div class="card-body border border-dark p-0 m-3">
        <div class="d-flex flex-row justify-content-between card-header bg-secondary m-1">
            <h3><a href='/post/{{id}}'>{{title}}</a></h3>
            <p>By: {{username}} on {{creation_date}}</p>
        </div>
        <div class="card-contents m-1">
            <p>{{contents}}</p>
        </div>
        {{!-- Update and Delete Buttons --}}
        <div class="d-flex flex-row justify-content-end">
            <button class="btn btn-primary m-2" id="update-post"><a href="/update-post/{{id}}">Update Post</a></button>
            <button class="btn btn-primary m-2" id="delete-post">Delete Post</button>
        </div>
    </div>
</div>