{{!-- Post Card with extra options --}}
<div class="card m-1 border border-0">
    <div class="card-body border border-dark rounded p-0 m-3">
        <div class="d-flex flex-row justify-content-between card-header m-0 p-2">
            <h3><a href='/post/{{getPost.id}}'>{{getPost.title}}</a></h3>
            <p>By: {{getPost.username}} on {{format_date getPost.creation_date}}</p>
        </div>
        <div class="card-contents m-1 p-2">
            <p>{{getPost.contents}}</p>
        </div>
        {{#if (ifEqual userId getPost.user_id)}}
        {{!-- Update and Delete Buttons --}}
        <div class="d-flex flex-row justify-content-end">
            <button class="btn m-2" id="update-post"><a href="/update-post/{{getPost.id}}">Update Post</a></button>
            <button class="btn m-2" id="delete-post"><a href="/post-delete/{{getPost.id}}">Delete Post</a></button>
        </div>
        {{/if}}
    </div>
</div>

{{!-- Empty div to avoid JS event listener error --}}
<div id="yes-delete-post"></div>

{{!-- Comment Card Template --}}
{{#each getComments as |comment|}}
{{> comment }}
{{/each}}


{{#if loggedIn}}
{{!-- New Comment button --}}
<button class="btn m-2 ms-4" id="leave-comment"><a href="/post-new-comment/{{getPost.id}}">Leave Comment</a></button>
{{/if}}

{{!-- Empty Comment Form --}}
<div class="card m-1 comment-form"></div>

<script src="/js/post.js"></script>