{{!-- Post Card with extra options --}}
<div class="card m-1">
    <div class="card-body border border-dark p-0 m-3">
        <div class="d-flex flex-row justify-content-between card-header bg-secondary m-1">
            <h3><a href='/post/{{getPost.id}}'>{{getPost.title}}</a></h3>
            <p>By: {{getPost.username}} on {{getPost.creation_date}}</p>
        </div>
        <div class="card-contents m-1">
            <p>{{getPost.contents}}</p>
        </div>
        {{!-- Update and Delete Buttons --}}
        <div class="d-flex flex-row justify-content-end">
            <button class="btn btn-primary m-2" id="update-post"><a href="/update-post/{{getPost.id}}">Update Post</a></button>
            <button class="btn btn-primary m-2" id="delete-post"><a href="/post-delete/{{getPost.id}}">Delete Post</a></button>
        </div>
    </div>
</div>

{{!-- Comment Card Template --}}
{{#each getComments as |comment|}}
{{> comment }}
{{/each}}

{{!-- New Comment Form --}}
<div class="card m-1 comment-form">
    <div class="card-body border border-dark p-0 m-3">
        <form class="form m-1 new-comment-form">
            <div class="form-group m-1">
                <label for="comment-text">Comment:</label>
                <input class="form-input" type="text" id="comment-text" />
            </div>
            <div class="form-group m-1">
                <button class="btn btn-primary" type="submit">Comment</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/post.js"></script>